<div>
    <div>
      <label>Nome: <input *ngIf="selectedItem" [(ngModel)]="selectedItem.nome"></label>
    </div>
    <div>
      <label>Descrizione: <input *ngIf="selectedItem" [(ngModel)]="selectedItem.descrizione"></label>
    </div>
    <div>
      <label>Zona: 
        <select *ngIf="selectedItem" [(ngModel)]="selectedItem.zona">
          <option value="AST">Astico</option>
          <option value="AGN">Agno</option>
        </select>
      </label>
    </div>
    <div *ngIf="selectedItem">
      <button (click)="save()">Salva</button>
      <button (click)="cancel()">Cancella</button>
      <button (click)="delete()">Elimina</button>
    </div>
</div>
  